@model SchoolAPP.Models.Course

@{
    ViewData["Title"] = "Print Course";
}

<h1>Course Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Name)
        </dd>
    </dl>
</div>

<h4>Course Assignments</h4>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Assignments.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assignments.First().Description)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Assignments != null)
    {
        @foreach (var item in Model.Assignments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    }
    </tbody>
</table>

<h4>Students in the Course</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentCourses.First().Student.Name)
            </th>
        </tr>
    </thead>
    <tbody>
    @if (Model.StudentCourses != null)
    {
        @foreach (var item in Model.StudentCourses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Name)
                </td>
            </tr>
        }
    }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>